[Unit]
Description=minio
Documentation=
After=network.target

[Service]
LimitNOFILE=65536
LimitNPROC=65536
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin
User=root
Group=root
Type=simple
ExecStart=
ExecReload=
ExecStop=

[Install]
WantedBy=multi-user.target