server {
        listen       80;
        # 仅需使用ipv6时取消注释
        listen       [::]:80;
        server_name  域名;

        access_log /home/wwwlogs/域名.log main;
        # 需要强制使用https时打开
        #rewrite ^/(.*) https://$host$1 permanent;
        location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$ {
            expires                   30d;
        }
        location / {
            index    index.html index.htm;
            root     /home/wwwroot/域名;
        }
    
        
    }

server
    {
        listen 443 ssl http2;
        # 仅需使用ipv6时取消注释
        listen [::]:443 ssl http2;
        server_name 域名;
        index    index.html index.htm default.html default.htm;
        root     /home/wwwroot/域名;

        # 证书文件位置
        ssl_certificate               证书文件位置;
        ssl_certificate_key           证书key位置;
        ssl_session_timeout           5m;
        ssl_protocols                 TLSv1.1 TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers     on;
        ssl_ciphers                   "TLS13-AES-256-GCM-SHA384:TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES-128-GCM-SHA256:TLS13-AES-128-CCM-8-SHA256:TLS13-AES-128-CCM-SHA256:EECDH+CHACHA20:EECDH+CHACHA20-draft:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5";
        ssl_session_cache             builtin:1000 shared:SSL:10m;
        location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$ {
            expires                   30d;
        }
    
        access_log /home/wwwlogs/域名.log main;
    }
